<div class="odoo-launcher-canvas">
  <div class="odoo-apps-grid">
    <div 
      *ngFor="let mod of modules" 
      class="odoo-app-item"
      (click)="navigateTo(mod.route)"
      [routerLink]="mod.route"
      tabindex="0"
      role="button"
      (keydown.enter)="navigateTo(mod.route)"
      (keydown.space)="navigateTo(mod.route); $event.preventDefault()"
      [attr.aria-label]="mod.name"
    >
      <div class="odoo-app-icon" [ngClass]="mod.accentClass">
        <i [class]="'bi ' + mod.icon"></i>
      </div>
      <span class="odoo-app-label">{{ mod.name }}</span>
    </div>
  </div>
</div>