/* You can add global styles to this file, and also import other style files */

/* Ensure full height for sticky footer */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
